body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 88px;
    background: #2D354C;
}

.logo {
    width: 41px;
    height: 44px;
}

.browsebutton {
    background-color: #2D354C;
    width: 168px;
    height: 44px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 27px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 692px;
    width: 100vw;
    height: 100vw;
    max-height: 854px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(images/Hero/Hero\ image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.herotext {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-size: max(36px, 3.9vw);
    line-height: max(47px, 5.1vw);
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: max(322px, 69.5vw);
}

.applybutton {
    width: 327px;
    height: 56px;
    
    background: #4DC3F9;
    border-radius: 6px;     

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.bcwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 64px 0;
    background: #FFFFFF;
}

.sectiontitle {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0;
    width: 52vw;

    color: #2D354C;    
}

.bctext {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-left: max(24px, 15vw);
    margin-right: max(24px, 15vw);
    margin-top: 24px;
    margin-bottom: 40px;
    width: max(327px, 70vw);

    color: #818693;   
}

.bcprogramswrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: max(327px, 70vw);
    margin-left: 15vw;
    margin-right: 15vw;
}

.bcprogramsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: max(327px, calc(35vw - 12px));
    
    background: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.programduration {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    
    color: #4DC3F9;
}

.programname {
    margin: 16px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #2D354C;
}

.programinfo {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 0 29px;
    
    color: #818693;
}

.squadwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 222px;
    margin: 0;
    padding: 64px 0;

    background: #4DC3F9;
}

.numberswrap {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.textandnumber {
    width: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whitesectiontitle {  
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    margin-top: 0;

    color: #FFFFFF;
}

.squadnumbers {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 127px;
    text-align: center;
    letter-spacing: -0.02em;
    width: 112px;
    margin: 0;
    
    color: #2D354C;
}

.squadtexts {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    width: 112px;
    margin-top: -11px;
    margin-bottom: 0;
    
    color: #2D354C;
}

.projectswrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 565px;
    padding: 64px 0;

    background: #F8F8F8;
}

.boxeswrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 474px;
    margin-top: 40px;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.projectsbox {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    margin: 0 12px;
}

.projectimage {
    width: 320px;
    height: 180px;
    border-radius: 6px 6px 0px 0px;
}

.boxdivider {
    width: 320px;
    height: 1px;
    margin-top: -4px;

    background: #2C344B;
}

.boxtextwrap {
    width: 320px;
    height: 23px;
    padding: 11px 0;
    
    background: #FFFFFF;
    border-radius: 0px 0px 6px 6px;
}

.boxtext {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    
    color: #2D354C;
}

.studentswrap {
    height: 2394px;
    margin: 64px 0;
    background-image: url(images/Students/StudentsPC.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.teacherswrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 422px;
    padding: 64px 0;
    
    background: #F8F8F8;
}

.teachersboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    margin: 40px 15vw 0 15vw;
    
}

.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    margin: 0 12px;
}

.teachersimg {
    width: 235px;
}

.teachersnames {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
    
    color: #2D354C;
}

.teachersinfo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    
    color: #818693;
}

.footerwrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 130px;
    padding: 64px 0;
    
    background: #4DC3F9;
}

.whiteapplybutton {
    width: 327px;
    height: 56px;    
    background: #FFFFFF;
    border-radius: 6px;     

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4DC3F9;
}

@media (max-width: 1050px) {
    .container {height: 120px;}
    
    .bcwrap {margin-top: 40px;
    margin-bottom: 40px;}
    
    .sectiontitle {margin: 0 29px;
    width: calc(100vw - 58px);
    font-size: 32px;}
    
    .bctext {margin-left: max(24px, 6.4vw);
    margin-right: max(24px, 6.4vw);
    margin-bottom: 0;
    width: 87.2vw}
    
    .bcprogramswrap {flex-direction: column;
    margin-left: max(24px, 6.4vw);
    margin-right: max(24px, 6.4vw);}
    
    .bcprogramsbox {margin-top: 24px;
    width: 87.2vw;
    height: fit-content;
    padding: 40px 0;}
    
    .programname {font-size: 28px;}
}