body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 88px;
    background: #2D354C;
}

.logo {
    width: 41px;
    height: 44px;
}

.browse-button {
    background-color: #2D354C;
    width: 168px;
    height: 44px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 27px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 692px;
    width: 100vw;
    height: 100vw;
    max-height: 854px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(images/Hero/Hero\ image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-size: max(36px, 3.9vw);
    line-height: max(47px, 5.1vw);
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: max(322px, 69.5vw);
}

.apply-button {
    width: 327px;
    height: 56px;
    
    background: #4DC3F9;
    border-radius: 6px;     

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.bc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 64px 0;
    background: #FFFFFF;
}

.section-title {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 0;
    width: 52vw;

    color: #2D354C;    
}

.bc-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-left: max(24px, 15vw);
    margin-right: max(24px, 15vw);
    margin-top: 24px;
    margin-bottom: 40px;
    width: max(327px, 70vw);

    color: #818693;   
}

.bc-programs-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: max(327px, 70vw);
    margin-left: 15vw;
    margin-right: 15vw;
}

.bc-programs-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: max(327px, calc(35vw - 12px));
    
    background: #F8F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.program-duration {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    
    color: #4DC3F9;
}

.program-name {
    margin: 16px;

    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #2D354C;
}

.program-info {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 0 29px;
    
    color: #818693;
}

.squad-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 222px;
    margin: 0;
    padding: 64px 0;

    background: #4DC3F9;
}

.numbers-wrap {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.text-and-number {
    width: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-section-title {  
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    margin-top: 0;

    color: #FFFFFF;
}

.squad-numbers {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 127px;
    text-align: center;
    letter-spacing: -0.02em;
    width: 112px;
    margin: 0;
    
    color: #2D354C;
}

.squad-texts {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    width: 112px;
    margin-top: -11px;
    margin-bottom: 0;
    
    color: #2D354C;
}

.projects-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 565px;
    padding: 64px 0;

    background: #F8F8F8;
}

.boxes-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 474px;
    margin-top: 40px;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.projects-box {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    margin: 0 12px;
}

.project-image {
    width: 320px;
    height: 180px;
    border-radius: 6px 6px 0px 0px;
}

.box-divider {
    width: 320px;
    height: 1px;
    margin-top: -4px;

    background: #2C344B;
}

.box-text-wrap {
    width: 320px;
    height: 23px;
    padding: 11px 0;
    
    background: #FFFFFF;
    border-radius: 0px 0px 6px 6px;
}

.box-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
    
    color: #2D354C;
}

.students-wrap {
    height: 2394px;
    margin: 64px 0;
    background-image: url(images/Students/StudentsPC.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.teachers-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 422px;
    padding: 64px 0;
    
    background: #F8F8F8;
}

.teachers-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 70vw;
    margin: 40px 15vw 0 15vw;
    
}

.teachers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
    margin: 0 12px;
}

.teachers-img {
    width: 235px;
}

.teachers-names {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
    
    color: #2D354C;
}

.teachers-info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin: 0;
    
    color: #818693;
}

.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 130px;
    padding: 64px 0;
    
    background: #4DC3F9;
}

.white-apply-button {
    width: 327px;
    height: 56px;    
    background: #FFFFFF;
    border-radius: 6px;     

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #4DC3F9;
}

@media (max-width: 1050px) {
    .container {height: 120px;}
    
    .bc-wrap {margin-top: 40px;
    margin-bottom: 40px;}
    
    .section-title {margin: 0 29px;
    width: calc(100vw - 58px);
    font-size: 32px;}
    
    .bc-text {margin-left: max(24px, 6.4vw);
    margin-right: max(24px, 6.4vw);
    margin-bottom: 0;
    width: 87.2vw}
    
    .bc-programs-wrap {flex-direction: column;
    margin-left: max(24px, 6.4vw);
    margin-right: max(24px, 6.4vw);}
    
    .bc-programs-box {margin-top: 24px;
    width: 87.2vw;
    height: fit-content;
    padding: 40px 0;}
    
    .program-name {font-size: 28px;}

    .squad-wrap {height: 384px;
    padding: 40px 0;}
    
    .white-section-title {justify-content: flex-start;
    font-size: 32px;
    margin: -10px 24px 24px 24px;
    line-height: 42px;
    height: 67px;}
    
    .numbers-wrap {flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100vw - 48px);
    height: 300px;}
    
    .text-and-number {width: 134px;}
    
    .squad-numbers {width: 134px;
    font-size: 90px;
    line-height: 119px;}
    
    .squad-texts {width: 134px;
    line-height: 23.4px;
    margin-top: -7px;
    margin-bottom: 23px;}
    
    .projects-wrap {height: 1532px;
    padding: 40px 0;}
    
    .boxes-wrap {height: 1442px;
    margin-top: 24px;}
    
    .boxes {flex-direction: column;
    justify-content: space-between;
    height: 713px;}

    .students-wrap {
    height: 2260px;
    margin: 40px 0;
    background-image: url(images/StudentsCel.png);}

    .teachers-wrap {height: 504px;
    padding: 40px 0;}

    .teachers-boxes {flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0;
    width: calc(100vw - 48px);}

    .teachers {width: 150px;
    margin: 24px 0 0 0;}

    .teachers-img {width: 150px;}

    .teachers-names {font-size: 20px;
    line-height: 26px;
    margin-top: 4px;}

    .teachers-info {font-size: 14px;
    line-height: 21px;}

    .footer-wrap {height:164px;
    padding: 40px 0;}

    .students-wrap {
    height: 2260px;
    margin: 40px 0;
    background-image: url(images/StudentsCel.png);}
    
    .teachers-wrap {height: 504px;
    padding: 40px 0;}
    
    .teachers-boxes {flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0;
    width: calc(100vw - 48px);}
    
    .teachers {width: 150px;
    margin: 24px 0 0 0;}
    
    .teachers-img {width: 150px;}
    
    .teachers-names {font-size: 20px;
    line-height: 26px;
    margin-top: 4px;}
    
    .teachers-info {font-size: 14px;
    line-height: 21px;}
    
    .footer-wrap {height:164px;
    padding: 40px 0;}
}